@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')
    
:root
    --d-elems: hsl(209, 23%, 22%)
    --d-bg: hsl(207, 26%, 17%)
    
    --l-text: hsl(200, 15%, 8%)
    --l-input: hsl(0, 0%, 52%)
    --l-bg: hsl(0, 0%, 98%)
    --l-elems: var(--white)


* 
    margin: 0
    padding: 0